<div class="element-bg-img"><img src="{{getSelectedRecreation().img1}}" alt="" class="img-responsive"></div>

<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a (click)="toggleFilter('Hotel')" [class.selected]="isFilterSelected('Hotel')">Hotel</a></li>
      <li><a  (click)="toggleFilter('Fishing')" [class.selected]="isFilterSelected('Fishing')">Fishing</a></li>
      <li><a  (click)="toggleFilter('Tours')" [class.selected]="isFilterSelected('Tours')">Tours</a></li>
      <li class="anc-bor"><a (click)="toggleFilter('Health')" [class.selected]="isFilterSelected('Health')">Health</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2" *ngIf="recreations$ | async | recreationsFilter as recreations" >
        <div *ngFor="let recreation of recreations" >
          <app-recreation [recreation] = recreation (emitSelectedRecreation) = "setR($event)"></app-recreation>
        </div>

      </div>
    </div>
  </div>
</div>
